# Dependency directories
node_modules/

# Environment variables
.env

# Local database
*.sqlite
chromadb/

# Logs
logs
*.log
error.log
combined.log

# Authentication data
.wwebjs_auth/
.wwebjs_cache/

# OS specific files
.DS_Store
Thumbbs.db

# IDE files
.vscode/
.idea/